* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: "Play";
	src: url('./fonts/Play-Regular.ttf') format('truetype');
}

main {
	width: 80%;
	margin: 0 auto;
	padding: 30px;
	background: lightsalmon;
	text-align: center;
	font-family: "Play", sans-serif;
	min-height: 100vh;
}


/* Search */
#searchBar {
	padding: 20px;
}
input, button {
  padding: 10px;
  font-family: "Play", sans-serif;
}


/* Games */
#gamesContainer {
	display: flex;
	justify-content: space-around;
	gap: 20px;
	flex-wrap: wrap;
	max-width: 900px;
	margin: 0 auto;
}

.gameCard {
	background: lightcyan;
	width: 200px;
	height: 300px;
	border: solid 1px black;
	display:flex;
	flex-direction: column;
	border-top-right-radius: 15px;
}

.gameImgContainer {
	width: 100%;
	height: 160px;
}

.gameImgContainer img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.gameTitle {
	background: lightgray;
	padding: 2px 0;
}

.gameReview {
	text-align: left;
	padding: 10px;
	overflow-y: auto;
}

.gameScore {
	text-align: right;
	margin-top: auto;
	padding-right: 10px;
}


/* Extra */
.fillingEmpty {
	width: 200px;
	height: 0;
}

.hideGame {
	display: none;
}