* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: "Play";
	src: url('./fonts/Play-Regular.ttf') format('truetype');
}

body {
	background: #f0f0f0;
}

main {
	width: 80%;
	min-width: 300px;
	margin: 0 auto;
	padding: 30px;
	background: white;
	text-align: center;
	font-family: "Play", sans-serif;
	min-height: 100vh;
}

h1 {
	margin: 30px 0;
}


/* Search */
#searchBar {
	padding: 20px;
}
input, button, select {
  padding: 10px;
  font-family: "Play", sans-serif;
}


/* Games */
#gamesContainer {
	display: flex;
	justify-content: space-around;
	gap: 20px;
	flex-wrap: wrap;
	max-width: 900px;
	margin: 0 auto;
}

.gameCard {
	background: #f0f0f0;
	width: 200px;
	height: 300px;
	border: solid 1px black;
	box-shadow: -3px 3px 2px 0px rgba(50,50,50,0.60);
	display:flex;
	flex-direction: column;
	border-top-right-radius: 15px;
	user-select: none;
}

.gameImgContainer {
	width: 100%;
	height: 160px;
}

.gameImgContainer img {
	width: 100%;
	height: 160px;
	object-fit: cover;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.gameTitle {
	background: lightgray;
	padding: 2px 0;
}

.gameReview {
	text-align: left;
	padding: 10px;
	overflow-y: auto;
}

.gameScore {
	text-align: right;
	margin-top: auto;
	padding-right: 10px;
	font-weight: bold;
}


.score0 {
	color: grey;
}
.score2{
	color: red;
}
.score4{
	color: orange;
}
.score6{
	color: lightseagreen;
}
.score8{
	color: green;
}

/* Extra */
.fillingEmpty {
	width: 200px;
	height: 0;
}

.hideGame {
	display: none;
}